header
    border-top: 1px solid #2E86AB
    border-bottom: 1px solid #2E86AB
    text-align: center
    background-color: #231F20
    text-transform: uppercase
    color: #2E86AB
    font-family: 'Roboto'
