#main-section
    div.MuiCardContent-root
        height: 100px
        background-color: #231F20
#main-section
    div.MuiCardContent-root
        h2
            color: #2E86AB
        p
            color: #BFBDC1
            margin-bottom: 10px

div.MuiPaper-root.MuiCard-root.makeStyles-card-104.MuiPaper-elevation1.MuiPaper-rounded
    background-color: #37323E
    border: 1px solid #2E86AB
    padding: 10px
    margin: 10px


div.MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault
    color: #BFBDC1
    background-color: #6D6A75
